<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />
    <title>{% block title %}Survey{% endblock %}</title>
  </head>
  <body>
    <!-- <nav class="navbar">
    <a href="/">Home</a>
    <a href="/movies">Movies!</a> -->
    <!-- <a href="/goodbye">Goodbye</a> -->
    <!-- </nav> -->
    <main id="content">
      <section class="messages">
        {% for category,msg in get_flashed_messages(with_categories=true)%}
        <p class="{{category}}">{{msg}}</p>
        {% endfor %}
      </section>
    {% block content %} 
    <h1>Welcome to the template!</h1>
    {% endblock %}
    </main>
    <script src="/static/app.js"></script>
  </body>
</html>